.main {
  position: relative;
}

.searchMain {
  position: relative;
}

.logo {
  height: 40px;
}

.cust_search_header {
  padding: 20px;
  display: flex;
  align-items: flex-end;
}

.external_url {
  margin-left: auto;
  display: flex;
  gap: 20px;
}

a.url,
a.url:visited {
  color: #169bd5;
  text-decoration: none;
}

.cust_search_body {
  margin-top: 20px;
  padding: 20px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox input {
  width: auto;
}

.checkbox label {
  font-weight: bold;
}

.btnGrp {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

input:disabled {
  background-color: #eee !important;
  border: 1px solid #aaa;
}

.vertbar {
  border-left: 2px solid #ddd;
  height: auto;
}
